bottle==0.12.25
docker==7.0.0
glances==3.4.0.3
influxdb==5.3.1
influxdb-client==1.39.0
netifaces==0.11.0
paho-mqtt==1.6.1
psutil==5.9.6
py-cpuinfo==9.0.0
requests==2.31.0
scandir==1.10.0
zeroconf==0.128.4
